
<app-header></app-header>

<section class="mid-content">
    <div class="center-cards">
        <app-cards [icon]="'pi-users'" [title]="'Gestión de Recursos Humanos'" [description]="'Administra de manera eficiente tu equipo de trabajo, desde el reclutamiento hasta la nómina.'"></app-cards>
        <app-cards [icon]="'pi-clipboard'" [title]="'Control de Inventario'" [description]="'Mantén un seguimiento preciso de tus existencias y optimiza tus procesos de abastecimiento.'"></app-cards>
        <app-cards [icon]="'pi-chart-bar'" [title]="'Informes y Análisis'" [description]="'Obtén informes detallados y visualiza datos clave para tomar decisiones informadas.'"></app-cards>
        <app-cards [icon]="'pi-cog'" [title]="'Configuración Personalizable'" [description]="'Adapta Gamype a tus necesidades específicas y automatiza tus procesos.'"></app-cards>
    </div>
</section>
<app-footer></app-footer>
