<div class="buttons-section">
    <main>
        <div class="header">
            <p-button [disabled]="users.length > 5" (onClick)="addUser()" label="Agregar usuario">
                <i class="pi pi-plus"></i>
            </p-button>
        </div>
        <p-table [value]="users" [tableStyle]="{ 'min-width': '10rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Roles</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{ user.nombreUsuario }}</td>
                    <td>{{ userRoles(user) }}</td>
                    <td><p-button icon="pi pi-pencil" (onClick)="editUser(user)" label="Editar"></p-button></td>
                </tr>
            </ng-template>
        </p-table>
    </main>
</div>