<section class="user-section">
    
    <p-card class="user-card">
        <h2>
            Bienvenido {{ userNameToShow }}
        </h2>
    </p-card>
</section>
<section class="top-section">
    <div class="l-section">
        <h2>
            Companias
        </h2>
    </div>
    <div class="r-section">
        <p-button 
        label="Crear comapnia" 
        icon="pi pi-plus" 
        (onClick)="goToCreateCompany()"
        />
    </div>
</section>
<section class="company-section">
    @if (userEmpresas.length === 0 && !loadingEmpresas) {
        <p-card styleClass="flex-1" class="no-companies">
            <div class="j-c-a-c f-col flex-1">
                <h4>
                    No tienes companias asociadas a tu cuenta.
                </h4>
                <p>
                    Si deseas crear una compania, haz click en el boton de crear compania.
                </p>
            </div>
        </p-card>
    }
    <p-card class="company-card" *ngFor="let empresa of userEmpresas">
        <p-header>
            <h3 class="l-section">
                {{ empresa.name }}
            </h3>
            <div class="chip r-section">
                <span>
                    {{ findRoleName(empresa.idsRoles[0]) | shortRol}}
                </span>
            </div>
        </p-header>
        <div class="card-content">
            <i [ngClass]="empresa.icon" class="pi gl icon mr-10"></i>
            <p class="info-empresa">
                Lorem ipsum dolor sit amet, con
            </p>
        </div>
        <p-footer>
            <p-splitButton 
            label="Ir a compania" 
            (onClick)="save('info')"
            (onDropdownClick)="drop('info')"
            [model]="empresa.items" />
        </p-footer>
    </p-card>
</section>