<section class="user-section">
    
    <p-card class="user-card">
        <h2>
            Bienvenido {{ userNameToShow }}
        </h2>
    </p-card>
</section>
<section class="top-section">
    <div class="l-section">
        <h2>
            Companias
        </h2>
    </div>
    <div class="r-section">
        <p-button 
        label="Crear comapnia" 
        icon="pi pi-plus" 
        (onClick)="goToCreateCompany()"
        />
    </div>
</section>
<section class="company-section">
    <p-card>
        <p-header>
            <h3 class="l-section">
                Company 1
            </h3>
            <div class="chip r-section">
                <span>
                    Admin
                </span>
            </div>
        </p-header>
        <div class="center-content">
            <i class="pi pi-briefcase gl icon"></i>
            <p>
                Lorem ipsum dolor sit amet, con
            </p>
        </div>
        <p-footer>
            <p-splitButton 
            label="Ir a compania" 
            (onClick)="save('info')" 
            [model]="items" />
        </p-footer>
    </p-card>
    <p-card>
        <p-header>
            <h3 class="l-section">
                Company 1
            </h3>
            <div class="chip r-section">
                <span>
                    Admin
                </span>
            </div>
        </p-header>
        <div class="center-content">
            <i class="pi pi-briefcase gl icon"></i>
            <p>
                Lorem ipsum dolor sit amet, con
            </p>
        </div>
        <p-footer>
            <p-splitButton 
            label="Ir a compania" 
            (onClick)="save('info')" 
            [model]="items" />
        </p-footer>
    </p-card>
    <p-card>
        <p-header>
            <h3 class="l-section">
                Company 1
            </h3>
            <div class="chip r-section">
                <span>
                    Admin
                </span>
            </div>
        </p-header>
        <div class="center-content">
            <i class="pi pi-briefcase gl icon"></i>
            <p>
                Lorem ipsum dolor sit amet, con
            </p>
        </div>
        <p-footer>
            <p-splitButton 
            label="Ir a compania" 
            (onClick)="save('info')" 
            [model]="items" />
        </p-footer>
    </p-card>
    <p-card>
        <p-header>
            <h3 class="l-section">
                Company 1
            </h3>
            <div class="chip r-section">
                <span>
                    Admin
                </span>
            </div>
        </p-header>
        <div class="center-content">
            <i class="pi pi-briefcase gl icon"></i>
            <p>
                Lorem ipsum dolor sit amet, con
            </p>
        </div>
        <p-footer>
            <p-splitButton 
            label="Ir a compania" 
            (onClick)="save('info')" 
            [model]="items" />
        </p-footer>
    </p-card>
    <p-card>
        <p-header>
            <h3 class="l-section">
                Company 1
            </h3>
            <div class="chip r-section">
                <span>
                    Admin
                </span>
            </div>
        </p-header>
        <div class="center-content">
            <i class="pi pi-briefcase gl icon"></i>
            <p>
                Lorem ipsum dolor sit amet, con
            </p>
        </div>
        <p-footer>
            <p-splitButton 
            label="Ir a compania" 
            (onClick)="save('info')" 
            [model]="items" />
        </p-footer>
    </p-card>
</section>