<p-card class="title">
    <h2>
        Elementos de la empresa
    </h2>
</p-card>
<main class="flex f-1">

    <p-card class="flex f-1" styleClass="flex f-1 f-col p-20">
        <p-header class="flex header-table">
            @if( elementos.length > 5)
            {
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="searchValue" (ngModelChange)="dt1.filterGlobal($event, 'contains')" placeholder="Filtrar cargos" />
                </span>
            </div>
            }
            @if(elementos.length <= 30)
            {
                <p-button (onClick)="crearElemto()" class="flex width-200 flex-end">
                    Crear elemento
                </p-button>
            }
        </p-header>
        <p-table #dt1 [value]="elementos" [paginator]="elementos.length > 5" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [globalFilterFields]="['id', 'codigoAndNombre','abreviaturaUnidadMedida']">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Codigo - Nombre</th>
                    <th>Unidad medida</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-elemento>
                <tr>
                    <td>{{elemento.id}}</td>
                    <td>{{elemento?.codigoAndNombre || 'No hay registro'}}</td>
                    <td>{{elemento?.abreviaturaUnidadMedida || 'No hay registro'}}</td>
                    <td class="celda-buttons">
                        <p-button (onClick)="editarElemento(elemento)" icon="pi pi-pencil" class="p-button-rounded p-button-secondary"></p-button>
                        <p-button (onClick)="eliminarElemento(elemento)" icon="pi pi-trash" class="p-button-rounded p-button-danger"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</main>