<main>
  <p-card class="title-card">
    <div class="content-card">
      <i (click)="goBack()" class="pi pi-arrow-left icon" style="font-size: 1.5rem"></i>
    @if(this.editMode){
      <h2>Editar Empresa {{infoEmpresa?.name}}</h2>
    }
    @else{
      <h2>Crear Empresa</h2>
    }
    </div>
  </p-card>
  <form [formGroup]="empresaForm" class="mt-20" (ngSubmit)="onSubmit()">

  <p-stepper>
    <p-stepperPanel header="Basico">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <p-card header="Informacion basica">
                <div class="p-fluid">
                  <p-floatLabel>
                    <input id="nombre" type="text" pInputText formControlName="name" />
                    <label for="nombre">Nombre</label>

                  </p-floatLabel>
                  <p-floatLabel>
                    <input id="razonSocial" type="text" pInputText formControlName="companyName" />
                    <label for="razonSocial">Razón Social</label>
                  </p-floatLabel>
                  <p-floatLabel>
                    <p-calendar formControlName="foundationDate" />
                    <label for="fechaFundacion">Fecha de Fundación</label>
                  </p-floatLabel>
                  
                    <p class="icon-text">Icono de referencia</p>
                    <div class="icon-section">
                    <i *ngFor="let icon of iconOptios" [class.selected]="empresaForm.get('icon')?.value === icon" [class]="'pi ' + icon + ' select-icon'" (click)="selectIcon(icon)"></i>
                  </div>
                </div>
                <div class="flex pt-4 justify-content-between row-reverse mt-10">
                  <p-button 
                      label="Siguiente" 
                      icon="pi pi-arrow-right" 
                      iconPos="right" 
                      (onClick)="nextCallback.emit()" />
              </div>
            </p-card>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Avanzado">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
          <p-card header="Informacion avanzada">
            <div class="p-fluid">
              <p-floatLabel>
                      <p-autoComplete
                      id="idTamagnio" 
              formControlName="idTamagnio"
              
              [suggestions]="filteredTamagnios"
              forceSelection="true"
              (completeMethod)="filterTamagnios($event)" 
              field="nombre"
              >
          </p-autoComplete>
              <label for="idTamagnio">Tamaño</label>
              </p-floatLabel>
              <div class="p-field">
                <!-- <app-select></app-select> -->
              </div>
              <p-floatLabel>
                <p-autoComplete
                  id="idTipoSociedadMercantil" 
                  formControlName="idTipoSociedadMercantil"
                  
                  [suggestions]="filteredSociedadesMercantiles"
                  forceSelection="true"
                  (completeMethod)="filterSociedadesMercantiles($event)" 
                  field="nombre"
                  >
                </p-autoComplete>
                <label for="idTipoSociedadMercantil">Tipo sociedad mercantil</label>
              </p-floatLabel>
              <p-floatLabel>
                <p-autoComplete
                id="idSectorEconomico" 
                formControlName="idSectorEconomico"
                [suggestions]="filteredSectoresSocioEconomicos"
                forceSelection="true"
                (completeMethod)="filterSectoresSocioEconomicos($event)" 
                field="nombre"
                >
              </p-autoComplete>
              <label for="idSectorEconomico">Tipo sociedad mercantil</label>

              </p-floatLabel>
            </div>
            <div class="flex pt-4 justify-content-between mt-10">
              <p-button 
                  label="Atras" 
                  icon="pi pi-arrow-left" 
                  (onClick)="prevCallback.emit()" />
              <p-button 
                  label="Siguiente" 
                  icon="pi pi-arrow-right" 
                  iconPos="right" 
                  (onClick)="nextCallback.emit()" />
          </div>
          </p-card>

        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Contacto">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
          <p-card header="Informacion de contacto">
            <div class="p-fluid">
              <p-floatLabel>
                <input id="contactNumber" type="number" maxlength="15" pInputText formControlName="contactNumber" />
                <label for="contactNumber">Numero de contacto</label>
              </p-floatLabel>
              <p-floatLabel>
                <input id="addres" type="text" pInputText formControlName="addres" />
                <label for="addres">Direccion</label>
              </p-floatLabel>
              <p-floatLabel>
                <input id="email" type="text" pInputText formControlName="email" />
                <label for="email">Correo de contacto</label>
              </p-floatLabel>
              <p-floatLabel>
                <input id="webSite" type="text" pInputText formControlName="webSite" />
                <label for="webSite">Sitio web</label>
              </p-floatLabel>
            </div>
            <div class="flex pt-4 justify-content-between mt-10">
              <p-button label="Atras" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
              <p-button 
                  [label]="this.editMode ? 'Actualizar' : 'Guardar'" 
                  icon="pi pi-arrow-right" 
                  iconPos="right" 
                  (onClick)="onSubmit()" />
          </div>
          </p-card>
        </ng-template>
    </p-stepperPanel>
</p-stepper>
</form>
</main>