<form [formGroup]="form">
    <p-floatLabel>
        <input id="name" type="text" pInputText formControlName="name" />
        <label class="required-label" for="name">Nombre operacion</label>
      </p-floatLabel>
      <p-floatLabel>
        <input id="description" type="text" pInputText formControlName="description" />
        <label for="description">Descripcion</label>
      </p-floatLabel>
      <p-floatLabel class="mt-20">
        <p-checkbox
        class="checkbox"
        formControlName="operationType"
        [binary]="true" 
        inputId="quincena" />
        <label class="ml-20" for="quincena">Operacion de entrada</label>
    </p-floatLabel>
</form>
<footer>
    <p-button type="button" severity="secondary" (click)="closeDialog(null)">Cancelar</p-button>
    <p-button type="button" (click)="closeDialog(form.value)">{{ editMode ? 'Editar' : 'Crear' }}</p-button>
</footer>