<form [formGroup]="form">
    <p-floatLabel>
        <p-autoComplete
          [dropdown]="true"
          [showClear]="true"
          id="idElemento"
          size="100"
          formControlName="idElemento"
          [suggestions]="filteredElementos"
          forceSelection="true"
          (completeMethod)="filterElementos($event)" 
          field="codigoAndNombre"
          >
        </p-autoComplete>
        <label class="required-label" for="idElemento">Elemento</label>
      </p-floatLabel>
    <p-floatLabel>
        <input id="lote" type="text" pInputText formControlName="lote" />
        <label class="required-label" for="lote">Nombre lote</label>
      </p-floatLabel>

    <p-floatLabel class="mt-10">
      <p-inputNumber 
      [size]="100"
      formControlName="valorUnitario"
      inputId="valorUnitario" 
      mode="decimal" 
      [min]="0"  />
      <label class="required-label" for="valorUnitario">Valor</label>
    </p-floatLabel>
</form>
<footer>
    <p-button type="button" severity="secondary" (click)="closeDialog(null)">Cancelar</p-button>
    <p-button type="button" (click)="closeDialog(form.value)">{{ editMode ? 'Editar' : 'Crear' }}</p-button>
</footer>