<form [formGroup]="form">
    <p-floatLabel>
        <p-autoComplete
          id="idElemento"
          size="100"
          formControlName="idElemento"
          [suggestions]="filteredElementos"
          forceSelection="true"
          (completeMethod)="filterElementos($event)" 
          field="codigoAndNombre"
          >
        </p-autoComplete>
        <label for="idElemento">Elemento</label>
      </p-floatLabel>
    <p-floatLabel>
        <input id="lote" type="text" pInputText formControlName="lote" />
        <label for="lote">Nombre lote</label>
      </p-floatLabel>

      <p-floatLabel class="f-1">
        <input [min]="1" [max]="999999999" id="existencias" type="number" pInputText formControlName="existencias" />
        <label for="existencias">Existencias</label>
    </p-floatLabel>

    <p-floatLabel class="f-1">
        <input [min]="1" [max]="999999999" id="valorUnitario" type="number" pInputText formControlName="valorUnitario" />
        <label for="valorUnitario">Valor</label>
    </p-floatLabel>
</form>
<footer>
    <p-button type="button" severity="secondary" (click)="closeDialog(null)">Cancelar</p-button>
    <p-button type="button" (click)="closeDialog(form.value)">{{ editMode ? 'Editar' : 'Crear' }}</p-button>
</footer>